.article-container{
  background: #CCCCCC;
  border: 1px ;
  border-radius: 25px;
  padding: 20px;
}

.article-time{
  color: #cc0000;
  position: relative;
  left: 80%;
  font-size: 18px;
}

.article-actions{
  color: #cc0000;
  position: relative;
  display: inline;
  left: 80%;
  font-size: 18px;
}